.header {
  background-color: darkslategray;
  padding: 2em 0;
  margin-bottom: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.container {
  width: 80%;
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
  color: whitesmoke;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 2em;
}

.nav__link {
  color: whitesmoke;
  font-size: 1.5em;
  text-decoration: none;
}

.nav__link:hover {
  color: lightgray;
}
